html {
  /* background-image: url(../images/bikes.jpg); */
}

body {
  /* background-color: black; */
  background-image: url(../images/bikes.jpg);
  color: wheat;
  font-family: fantasy;
}

h1 {
  text-align: center;
  margin-top: 20px;
}
h2 {
  text-align: center;
}
header {
  background-repeat: none;
  height: 150px;
  margin-top: 60px;
  text-align: center;
}
img {
  height: 150px;
}

div img {
  width: 50%;
}

p {
  margin: 10px;
  font-size: 28px;
}

#main-game {
  background-color: #202020;
  border: solid 1pt red;
  margin: 10px 100px 10px 100px;
}
.stats {
  font-size: 30px;
  height: 50px;
  color: #d36216;
}

.col {
  padding-left: 0;
}

#end-game {
  height: 100px;
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
}

#user-win {
  display: block;
  position: absolute;
  width: 70%;
  visibility: hidden;
  text-align: left;
  color: green;
  /* font-size: xx-large; */
}

#user-lost {
  display: block;
  position: absolute;
  width: 70%;
  visibility: hidden;
  text-align: left;
  color: red;
}

#invalidLetter {
  display: block;
  position: absolute;
  width: 70%;
  visibility: hidden;
  text-align: left;
  color: red;
}

#duplicateLetter {
  display: block;
  position: absolute;
  width: 70%;
  visibility: hidden;
  text-align: left;
  color: red;
}
